<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" [routerLink]="currentRoute">Go {{title}}</mat-list-item>
    </mat-list>
    
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <!-- <mat-icon>menu</mat-icon> -->
    </button>
    <div>&nbsp;</div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
